<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.makerSpace.dao.ItemDao">

    <select id="getItemInfoFromReviewId" resultType="Item">
        select applicant_team_id as team_id,item_name,item_describe from review_create_item where review_id=#{review_id}
    </select>

    <insert id="CreateItem">
        insert into item(
                        team_id,
                        item_name,
                         item_describe,
                         creation_time
        ) values(
                 #{team_id},
                 #{item_name},
                 #{item_describe},
                 now()
                        )
    </insert>

</mapper>