<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.makerSpace.dao.TeamDao">

    <resultMap type="TeamMember" id="teamMemberResultMap">
        <id property="member_id" column="member_id"/>
        <result property="user_id" column="user_id"/>
        <result property="team_id" column="team_id"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="getYourTeam" resultType="java.lang.Integer">
        SELECT team_id FROM `teammember` where user_id=#{user_id}
    </select>

    <select id="getTeamByTeamId" resultType="Team">
        SELECT * from team where team_id=#{team_Id}
    </select>

    <select id="findAllTeamMember" resultMap="teamMemberResultMap">
        select * from teammember where team_id=#{team_id}
    </select>

    <select id="findAllTeam" resultType="Team">
        select * from team order by team_id desc
    </select>

    <select id="findTeamByTeamName" resultType="Team">
        select * from team where team_name like concat('%',#{team_name},'%') order by team_id desc
    </select>

    <select id="findTeamByCategory" resultType="Team">
        select * from team where category=#{category} order by team_id desc
    </select>


    <select id="getTeamInfo" parameterType="int" resultType="Team">
        select * from team where team_id=#{user_id}
    </select>

    <insert id="applyToCreateATeam" parameterType="Team">
        INSERT INTO review_create_team (
                                        review_id,
                                        applicant_id,
                                        team_name,
                                        category,
                                        teacher_id,
                                        t_approved,
                                        team_describe,
                                        handler_id,
                                        h_approved,
                                        creation_time,
                                        handling_time
        )
        VALUES
        (
            null,
            #{leader_id},
            #{team_name},
            #{category},
            #{teacher_id},
            0,
            #{team_describe},
            -1,
            0,
            NOW(),
            null
        )
    </insert>

    <select id="getTeamIdByTeamName" resultType="int">
        select team_id from team where team_name=#{team_name}
    </select>

    <insert id="addTeammenber">
        insert into teammember(user_id,team_id) values (#{user_id},#{team_id})
    </insert>

    <select id="getTeacherIdByRealName" resultType="java.lang.Integer">
        select u.user_id FROM user u,resume r where u.user_id=r.user_id and r.real_name=#{teacherRealName}
    </select>

    <select id="checkTeamNameIfExist" resultType="java.lang.Integer">
        select count(team_id) from team where team_name=#{team_name}
    </select>


    <insert id="addTeam">
        insert into team (team_name,category,teacher_id,leader_id,team_describe)
        values
               (#{team_name},#{category},#{teacher_id},#{applicant_id},#{team_describe})
    </insert>

    <select id="getTeamInfoFromReviewId" resultType="Team">
        select
               team_name,category,teacher_id,applicant_id as "leader_id",team_describe
        from review_create_team where review_id=#{review_id}
    </select>

    <select id="applyToCreateItem">
        insert into Review_Create_Item(
            applicant_team_id,
            item_name,
            item_describe,
            teacher_id,
            t_approved,
            handler_id,
            h_approved,
            creation_time,
            handling_time
        )values (
                 #{applicant_team_id},
                 #{item_name},
                 #{item_describe},
                (select teacher_id from team where team_id=#{applicant_team_id}),
                 0,
                 0,
                 0,
                 now(),
                 now()
                        )
    </select>

    <select id="findItemByTeamId" resultType="Item">
        select * from item where team_id=#{team_id}
    </select>

    <insert id="inviteSBJointeam">
            insert into review_invite_join_team(applicant_team_id,user_id)
            values (#{team_id},#{user_id})
    </insert>

    <insert id="letJoinTeam">
        insert into teammate(team_id,user_id) values (#{team_id},#{user_id})
    </insert>

    <update id="changeLeader">
        update team set leader_id=#{user_id} where team_id=#{team_id}
    </update>

    <insert id="addManager">
        insert into team_manager (team_id,user_id) values (#{team_id},#{user_id})
    </insert>

    <delete id="delManager">
        delete from team_manager where tm_id=#{tm_id}
    </delete>

</mapper>