<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.makerSpace.dao.UserDao">

    <resultMap type="User" id="userResultMap">
        <id property="user_id" column="user_id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap type="Resume" id="UserInfoMap" >
        <id property="resume_id" column="resume_id"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
        <result property="real_name" column="real_name"/>
        <result property="phone" column="phone"/>
        <result property="education" column="education"/>
        <result property="school" column="school"/>
        <result property="experience" column="experience"/>
        <result property="self_assessment" column="self_assessment"/>
        <association property="user" javaType="user">
            <id property="user_id" column="user_id"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    
    <resultMap id="Menus" type="Menu">
        <id column="menu_id" property="menu_id" />
        <result column="url" property="url" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="menu_name" property="menu_name" />
        <result column="icon" property="icon" />
        <result column="parent_id" property="parent_id" />
        <collection property="children" javaType="Menu" >
            <id column="menu_id2" property="menu_id" />
            <result column="url2" property="url" />
            <result column="path2" property="path" />
            <result column="component2" property="component" />
            <result column="name2" property="menu_name" />
            <result column="icon2" property="icon" />
            <result column="parent_id2" property="parent_id" />
        </collection>
    </resultMap>

    <select id="getUserByUserName" resultMap="userResultMap">
        select * from user where user_name=#{user_name}
    </select>

    <select id="getUserInfoByUserId" resultMap="UserInfoMap">
        select
            r.resume_id,r.age,r.gender,r.real_name,r.phone,r.education,r.school,r.experience,r.self_assessment,u.user_id,u.password,u.name
        from user u,resume r where  r.user_id=u.user_id and r.user_id=#{user_id}
    </select>

    <insert id="register" parameterType="User">
        insert into user(user_id,name,password) values (null,#{name},#{password})
    </insert>

    <select id="checkDuplicateName" resultType="User">
        select user_id from user where name=#{name}
    </select>

    <insert id="createResumeByName">
        insert into resume (resume_id,user_id) values (null,(select user_id from user where name=#{name}))
    </insert>

    <select id="isTeacher" parameterType="int" resultType="java.lang.Integer">
        select count(*) from role_of_user where user_id=#{user_id} and role_id=3
    </select>

    <select id="alreadyCommitTeacherApply" resultType="int">
        select count(*) from review_certified_As_Teacher where applicant_id=#{user_id} and approved=0
    </select>

    <insert id="certifiedAsTeacher">
        insert into review_certified_As_Teacher(applicant_id,handler_id,approved,creation_time) values (#{user_id},-1,0,now())
    </insert>

    <insert id="initROU">
        insert into role_of_user(user_id,role_id) values ((select user_id from user where name=#{name}),1)
    </insert>

    <insert id="applyJoinTeam">
        insert into Review_Join_Team(applicant_id,team_id) values ((select user_id from user where user_name=#{user_name}),#{team_id})
    </insert>

    <!--<select id="getMenuByUserId" resultMap="Menus">
        SELECT
            DISTINCT
            m1.menu_id as id,
            m1.url as url,
            m1.path as path,
            m1.component as component,
            m1.menu_name as name,
            m1.icon as icon,
            m1.parent_Id as parent_Id,
            m2.menu_id as id2,
            m2.url as url2,
            m2.path as path2,
            m2.component as component2,
            m2.menu_name as name2,
            m2.icon as icon2,
            m2.parent_Id as parent_Id2
        FROM
            menu m1,
            menu m2,
            user_role ur,
            menu_role mr
        WHERE
            m1.menu_id=m2.parent_Id
          AND
            m2.menu_id=mr.menu_id
          AND
            mr.role_id = ur.role_id
          AND
            ur.user_id = #{user_id}
    </select>-->

    <select id="getRoles" resultType="Role">
        SELECT
            r.role_id,
            r.role_name,
            r.role_nameCN
        FROM
            role AS r
                LEFT JOIN user_role AS ur ON r.role_id = ur.role_id
        WHERE
            ur.user_id = #{user_id}
    </select>

</mapper>